.example-spacer {
  flex: 1 1 auto;
}
.header {
  background-color: white;
  color: black;
}
a {
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.a-group:hover {
  color: #f44336;
}
