<div class="container">
  <mat-tab-group>
    <mat-tab label="Thông tin cá nhân">
      <div class="padding">
        <form
          #editUser="ngForm"
          (submit)="handleSubmit()"
          class="formEditUser"
          touched
        >
          <mat-form-field class="form-group" appearance="outline" color="warn">
            <mat-label>Tài khoản</mat-label>
            <input
              #taiKhoan="ngModel"
              matInput
              name="taiKhoan"
              ngModel
              placeholder="tài khoản"
              disabled
              [value]="userInfo?.taiKhoan"
              placeholder="Tài khoản"
            />
            <mat-error *ngIf="taiKhoan.errors?.required"
              >Vui lòng nhập tài khoản</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-group" color="warn">
            <mat-label>Mật khẩu</mat-label>
            <input
              #matKhau="ngModel"
              matInput
              name="matKhau"
              required
              [(ngModel)]="userInfo.matKhau"
            />
            <mat-error *ngIf="matKhau.errors?.required"
              >Vui lòng nhập mật khẩu</mat-error
            >
            <mat-error
              *ngIf="matKhau.errors?.minlength || matKhau.errors?.maxlength"
              >Mật khẩu phải từ 8 tới 16 kí tự
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-group" color="warn">
            <mat-label>Email</mat-label>
            <input
              #email="ngModel"
              matInput
              name="email"
              required
              email
              [(ngModel)]="userInfo.email"
            />
            <mat-error *ngIf="email.errors?.required"
              >Vui lòng nhập email</mat-error
            >
            <mat-error *ngIf="email.errors?.email"
              >Email không đúng định dạng</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-group" color="warn">
            <mat-label>Họ tên</mat-label>
            <input
              #hoTen="ngModel"
              matInput
              name="hoTen"
              required
              [(ngModel)]="userInfo.hoTen"
            />
            <mat-error *ngIf="hoTen.errors?.required"
              >Vui lòng nhập họ tên</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-group" color="warn">
            <mat-label>Số điện thoại</mat-label>
            <input
              #phone="ngModel"
              matInput
              required
              pattern="^[0-9]+$"
              name="soDT"
              required
              [(ngModel)]="userInfo.soDT"
            />
            <mat-error *ngIf="phone.errors?.required"
              >Vui lòng nhập số điện thoại</mat-error
            >
            <mat-error *ngIf="phone.errors?.pattern"
              >Vui lòng nhập chữ số</mat-error
            >
          </mat-form-field>

          <div class="text-center">
            <button mat-raised-button color="warn">
              Cập nhật thông tin người dùng
            </button>
          </div>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Lịch sử đặt vé">
      <div
        class="text-center"
        style="margin: 50px"
        *ngIf="bookedTicket; else ticket"
      >
        <h1>Bạn chưa đặt vé</h1>
        <h3>
          Về
          <button
            mat-raised-button
            color="warn"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Trang chủ
          </button>
          để lựa phim đặt vé nhe!
        </h3>
      </div>
      <ng-template #ticket>
        <div class="text-center mt-3" *ngFor="let ticket of showTicket">
          <img [src]="ticket.hinhAnh" width="50%" />
          <br />
          <br />
          Mã Vé: {{ ticket.maVe }}
          <br />
          <br />
          Tên Phim: {{ ticket.tenPhim }}
          <br />
          <br />
          Ngày Đặt: {{ ticket.ngayDat }}
          <br />
          <br />
          Thời Lượng Phim: {{ ticket.thoiLuongPhim }}
          <br />

          <br />
          <p *ngFor="let seat of ticket.danhSachGhe">
            {{ seat.tenHeThongRap }} - {{ seat.tenRap }} - Ghế:
            {{ seat.tenGhe }}
          </p>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <br />
  <br />
</div>
