.container {
  width: 80%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 20px;
  /* border: 1px solid; */
  min-height: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

/* Responsive */
@media screen and (max-width: 300px) {
  .tab_group {
    width: 100%;
  }
  .tab_1 {
    width: 80%;
  }
}
