.container {
  width: 60%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 20px;
  border: 1px solid;
  height: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.padding {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
}
