<!-- Movie theaters_Show-time_Block -->
<div class="container pb-5">
  <h1 class="text-center">Cụm rạp</h1>
  <div class="row">
    <div class="col-md-2 parentListCinemas" style="height: 705px">
      <div class="list-group" id="list-tab" role="tablist">
        <a
          *ngFor="let cinema of cinemaList; let order = index"
          class="list-group-item list-group-item-action"
          [ngClass]="{ active: setActive(order) }"
          data-toggle="list"
          role="tab"
          href="#{{ cinema.maHeThongRap }}"
          id="{{ cinema.biDanh }}"
          (click)="handleCinemaSelected(cinema.maHeThongRap)"
        >
          <img width="40%" height="40%" src="{{ cinema.logo }}" />
        </a>
      </div>
    </div>

    <div class="col-md-4 listCinemas">
      <div class="tab-content" id="nav-tabContent-CinemaBranchList">
        <div class="tab-pane fade show active" [id]="cinemaId" role="tabpanel">
          <div class="list-group" role="tablist">
            <a
              *ngFor="let cinemaBranch of cinemaBranchList; let order = index"
              class="list-group-item list-group-item-action"
              [ngClass]="{ active: setActive(order) }"
              id="{{ cinemaBranch.maCumRap }}"
              data-toggle="list"
              href="#{{ cinemaBranch.maCumRap }}"
              role="tab"
              (click)="cinemaBranchSelected(cinemaBranch.maCumRap)"
            >
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <img
                      src="{{ cinemaBranch.hinhAnh }}"
                      style="width: inherit"
                    />
                  </div>
                  <div class="col-md-9" style="display: grid">
                    <span style="font-size: 16px; font-weight: 500">{{
                      cinemaBranch.tenCumRap
                    }}</span>
                    <span class="infoCinemaBranch">{{
                      cinemaBranch.diaChi
                    }}</span>
                    <span>[Chi tiết]</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 listMovies">
      <div class="tab-content" id="nav-tabContent-CinemaBranch-FilmList">
        <div
          class="tab-pane fade show active filmList"
          [id]="cinemaBranchId"
          role="tabpanel"
        >
          <div
            *ngFor="let item of listFilmShowing"
            id="{{ item.maPhim }}"
            class="filmItem"
          >
            <div class="d-flex">
              <img class="filmImage" src="{{ item.hinhAnh }}" />
              <div class="filmDetail">
                <div class="d-flex">
                  <span class="hotMovie">HOT</span>
                  <span style="font-size: 20px; font-weight: 500">{{
                    item.tenPhim
                  }}</span>
                </div>
                <div>
                  <form
                    #film="ngForm"
                    (submit)="handleBooking()"
                    [name]="item.maPhim"
                  >
                    <mat-form-field appearance="fill">
                      <mat-label>Chọn suất chiếu</mat-label>
                      <mat-select
                        #SelectedShowTimeFilm="ngModel"
                        name="showTimeFilm"
                        ngModel
                      >
                        <mat-option
                          *ngFor="let showTime of item.lstLichChieuTheoPhim"
                          [value]="showTime.maLichChieu"
                        >
                          {{ showTime.ngayChieu }} - {{ showTime.gioChieu }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div>
                      <button class="btn btn-success">Đặt vé</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
