<div id="footer">
  <div class="container footer">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="logo">
          <img src="../../../../assets/Capture-removebg-preview.png" />

          <div>
            <p>
              Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh,
              Việt Nam
            </p>
            <p>Hotline: 1900 545 436</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p class="mat-title title">Chính sách</p>
        <div>
          <a>Chính sách bảo mật</a>
          <a>Thỏa thuận sử dụng</a>
        </div>
      </div>
      <div class="col-md-4">
        <p class="mat-title title">Tài khoản</p>
        <div>
          <a>Tài khoản của tôi</a>
        </div>
      </div>
    </div>
  </div>
</div>
