<!-- Movie Block -->
<div id="movieBlock">
  <div *ngIf="isLoading; else movieBlock" class="container text-center my-5">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <ng-template #movieBlock>
    <div class="container bannerHeader"></div>
    <div class="container movieBlock">
      <div class="tab">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="showing-tab"
              data-toggle="tab"
              role="tab"
              aria-selected="true"
              (click)="handleTab(0)"
              >Đang chiếu</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="coming-tab"
              data-toggle="tab"
              role="tab"
              aria-selected="false"
              (click)="handleTab(1)"
              >Sắp chiếu</a
            >
          </li>
        </ul>
      </div>

      <app-movie-showing
        *ngIf="active"
        id="tabShowingFilm"
        [nowShowingList]="nowShowingList"
      ></app-movie-showing>
      <app-movie-coming
        *ngIf="!active"
        id="tabComingFilm"
        [comingSoonList]="comingSoonList"
      ></app-movie-coming>
    </div>
  </ng-template>
</div>
