<div class="container">
  <mat-tab-group mat-align-tabs="center" color="warn">
    <mat-tab>
      <ng-template mat-tab-label>
        <h1>Đang chiếu</h1>
      </ng-template>
      <div class="items">
        <div>
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565190720/gallery/preview/02_o_car.jpg"
          />
        </div>
        <div>
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565190715/gallery/preview/03_r_car.jpg"
          />
        </div>
        <div>
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565190714/gallery/preview/04_g_car.jpg"
          />
        </div>
        <div>
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565190714/gallery/preview/04_g_car.jpg"
          />
        </div>
        <div>
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565190714/gallery/preview/04_g_car.jpg"
          />
        </div>
        <div>
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565190714/gallery/preview/04_g_car.jpg"
          />
        </div>
        <div>
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565190714/gallery/preview/04_g_car.jpg"
          />
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <h1>Sắp chiếu</h1>
      </ng-template>
      <div>content2</div>
    </mat-tab>
  </mat-tab-group>
</div>

