.bannerHeader {
  background-image: url("../../../../assets/banner-add.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 120px;
}
.tab {
  text-align: center;
  padding-top: 25px;
}
.tab a {
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  transition: all 0.2s;
}
.tab a:hover {
  font-size: 30px;
}
.tab a.active {
  color: #f44336;
}
.tab .nav-tabs .nav-link,
.nav-tabs {
  border: none;
}

/* Responsive */

@media screen and (max-width: 576px) {
  .movieBlock {
    margin: 0;
  }
}
